@import "tailwindcss";

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

    --color-primary: #1E4658;
    --color-primary-content: #ffffff;
    --color-secondary: #B4C61A;
    --color-secondary-content: #ffffff;
    --color-accent: #17394E;
    --color-neutral: #374151;
    --color-base-100: #ffffff;
    --color-base-200: #e2e8f0;
    --color-base-300: #E9EBEB;
    --color-content: #1E4658;
    --color-muted: #5C6F77;
    --color-info: #38bdf8;
    --color-success: #34d399;
    --color-warning: #fde047;
    --color-error: #ef4444;
}
